/********************
IMPORTS
*******************/

@import url('reset.css');
@import url('accessibility.css');
@import url('card-styles.css');
@import url(https://fonts.googleapis.com/css?family=Hind);


/********************
YOUR STYLES
*******************/

/*Flexbox Stuff Main Layout*/

.main-area {
    display: flex;
    justify-content: center;
    background: black;
    height: 41.5em;
    padding-top: 2em;
}

section.cards {
    display: flex;
    justify-content: center;
}

a {
    width: 15em;
    height: 12.5em;
    padding: 1em;
}

.pics {
    height: 10em;
    width: 15em;
    margin-bottom: -1em;
}

.card {
    width: 6em;
    display: flex;
    background: none;
    justify-content: center;
    margin-right: -1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-left: 1em;
    margin-bottom: -3em;
    
}

/* Overall Page Design*/

body{
    background: black;
    margin-bottom: 20em;
}


/*color save: #660000*/

h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-family:'Hind', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3.8em;
    letter-spacing: .5em;
    margin-bottom: 7em;
    margin-top: 5.5em;
    z-index: 1;
}

#mainwords {
    background: white;
    margin-top: .2em;
    width: .07em;
    height: 1em;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .16em;
    font-weight: 100;
    color: white;
    font-size: 1em;
    opacity: .1;
}

h3 {
    color: white;
    text-align: center;
    text-transform: lowercase;
    font-weight: 100;
    letter-spacing: .2em;
    margin-top: 6em;
}

/*Changing Lightbox Font*/

.lg-sub-html{
    padding-bottom: 3em;
    font-size: 2em;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: .2em;
    color:white;
    opacity: .5;
}

/*Banner Styling*/

.banner {
    z-index: -100;
    opacity: .3;
    height: 40em;
    overflow: hidden;
    position: fixed;
    margin-top: -16.1em;
}

#palm {
    max-height: auto;
    max-width: 100%;
}

#wl {
    height: 1em;
    padding: .2em .5em 0 .5em;
    opacity: .2;
    -webkit-transition-duration: .8s;
    transition-duration: .8s;
}

#wl:hover {
    opacity: 1;
    -webkit-transition-duration: .8s;
    transition-duration: .8s;
}

/*New BG color*/

.lg-backdrop {
    background-color: black;
}

.lg-image {
    box-shadow: 0 4 50em white;
}

/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 75em) {

}

/* Tablet */
@media (min-width: 48em) {

}

/* Mobile */
@media (min-width: 30em) {

}